
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{  
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.header{

  min-height: 70vh;
  width: 100%;
  background-image:url(img/hpg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  

}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{

  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{

  list-style: none;
  display: inline-block;
  padding:  40px 46px;
  position: relative;
}
.nav-links ul li a{

color: #fff;
text-decoration: none;
font-size: 16px;
}



nav.fa{

  display: none;
}
@media(max-width: 700px){
  .text-box h1{
      font-size: 20px;
  }
  .nav-links ul li{
      display: block;
  }
  
  nav.fa{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      
  }
  .nav-links ul{

      padding: 30px;
  }
}

.map {
    padding: 0;
}
.map iframe
{
    width: 50%;
    height: 20%;
    position: absolute;
    right: 16px;
    bottom: 6px;
    
}
.map{
    grid-area: map;


